/*#region*/
/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}
/* I added this */
*, *::before, *::after {
box-sizing: border-box;
}
/*#endregion*/

:root {
  --accent-blue: rgb(25, 102, 255);
  --main-background-color: rgb(35, 35, 35);
  --darker-background-color: rgb(20, 20, 20);
}

::selection {
  color: var(--accent-blue);
  background-color: white;
}

body {
  background-color: var(--main-background-color);
}

h1 {
  font-size: 56px;
  border-bottom-width: 5px;
  border-bottom-color: var(--accent-blue);
  border-bottom-style: solid;
}

a {
  color: darksalmon;
  text-decoration: none;
}

a:visited {
  color: darksalmon;
}

header {
  align-items: center;
  background-color: var(--darker-background-color);
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 20px 10px;
  margin: 5px 5px 20px 5px;
}

.creds-div {
  display: flex;
}

.cred {
  margin: 0 15px;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#mycanvas {
  background-color: black;
  border: 10px solid var(--accent-blue);
  margin-bottom: 15px;
}